# Python bytecode
*.pyc

# Setuptools
/*.egg/
/*.egg-info/
/build/
/dist/

# Documentation
/docs/sphinx/_build

# Protocol Buffers
*_pb2.py

.coverage
*.pdf

# Public SSH key copied to RaspberryPis.
/img/id_rsa.pub
